/** GENERALS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #fef6e4;
    font-weight: 500;
    color: #001858;
    height: 94vh;
    position: relative;
}

/** UTILITIES */

.container {
    max-width: 800px;
    margin: 0 auto;
    z-index: 10;
    position: relative;
}

.d-flex {
    display: flex;
}

.button {
    padding: 0 30px;
    cursor: pointer;
    outline: none;
    border: 0;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    color: #001858;
    background-color: #f582ae;
    transition: background-color 0.2s;
}

.button:hover,
.button:focus {
    background-color: #f59bbd;
}

/** HEADER */

.root-header {
    text-align: center;
    margin: 2rem 0;

}

.root-header img {
    max-width: 350px;
    filter:invert(1);
    background: #ffe8a7de;
    padding: 10px;
    border-radius: 30px;
}

/** Add New ToDo */

.add-todo input {
    flex-grow: 1;
    height: 35px;
    font-size: 16px;
    border: 0;
    border-bottom: 1px solid #bbb;
    background-color: #fef6e4;
    outline: none;
    transition: border .4s;
}

.add-todo input:hover,
.add-todo input:focus {
    border-color: #000;
}

/** MAIN */

.todos-section {
    margin: 40px 0;
}

.todos-list {
    padding: 15px 30px;
    background: #ebdfc4;
    box-shadow: 0 15px 10px -10px rgba(0,0,0, .2);
}

.todo {
    padding: 10px 0;
    border-bottom: 1px solid #333;
    cursor: pointer;
}

.todo:last-child {
    border: none;
}

.todo .text {
    flex-grow: 1;
    padding: 0 30px;
    position: relative;
}

.todo .text::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 0;
    width: 15px;
    height: 15px;
    border: 1px solid #000;
}

.todo .text.completed {
    text-decoration: line-through;
}

.todo .text.completed::before {
    background-color: #f582ae;
    transition: background-color 0.4s;
}

.todo .delate-icon:hover:hover {
    color: #f582ae;
    transition: color 0.3s;
}

/** Waves */

.wave {
    position: fixed;
    bottom: -10px;
}

.first {
    z-index: 1;
}
.second {
    z-index: 2;
}
.third {
    z-index: 3;
}